<header>
	<nav class="nav">
		<div class="container">
			<h1 class="title"><a href="/grid">Spider-scoop</a></h1>
			<ul class="nav__list">
				<li class="nav__link"><a href="/grid/about">About</a></li>
				<li class="nav__link"><a href="/grid/form">Form</a></li>
				<li class="search">
					<input class="search__bar" type="text" placeholder="Zoek..." />
					<button type="submit" class="search__button">
						<i class="fa fa-search"></i>
					</button>
				</li>
			</ul>
		</div>
	</nav>
</header>
