<header>
	<nav class="nav">
		<div class="container">
			<h1 class="title"><a href="/">Spider-scoop</a></h1>
			<ul class="navlist">
				<li class="navlink">About</li>
			</ul>
		</div>
	</nav>
</header>
