<footer>
	<div class="sticky bottom-0 left-0 right-0 h-40 text-white bg-zinc-900">
		<div
			class="flex justify-between mx-auto w-[90%] sm:w-[70%] md:w-[90%] lg:w-[90%] xl:w-[90%] 2xl:w-[90%] min-[1792px]:w-[90%] min-[2048px]:w-[70%]"
		>
			footer
		</div>
	</div>
</footer>
