@media (max-width: 640px) {
	.container {
		width: 90%;
	}
}
@media (min-width: 640px) {
	.container {
		width: 70%;
	}
	.grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	.grid-2 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	.grid-3 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	.grid-4 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
@media (min-width: 768px) {
	.container {
		width: 90%;
	}
	.grid-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.grid-3 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.grid-4 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
@media (min-width: 1024px) {
	.container {
		width: 90%;
	}
	.grid-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.grid-3 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.grid-4 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
@media (min-width: 1280px) {
	.container {
		width: 90%;
	}
	.grid-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.grid-4 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 1536px) {
	.container {
		width: 90%;
	}
	.grid-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media (min-width: 1792px) {
	.container {
		width: 90%;
	}
}
@media (min-width: 2048px) {
	.container {
		width: 70%;
	}
}
