@import "./reset.css";
@import "./media.css";
@import "./carousel.css";

:root {
	--gap: 3rem;
	--column-size: calc(100% / 4 - (var(--gap)));

	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-zinc-50: hsl(0, 0%, 98%);
	--clr-zinc-100: hsl(240, 5%, 96%);
	--clr-zinc-200: hsl(240, 6%, 90%);
	--clr-zinc-300: hsl(240, 5%, 84%);
	--clr-zinc-400: hsl(240, 5%, 65%);
	--clr-zinc-500: hsl(240, 4%, 46%);
	--clr-zinc-600: hsl(240, 5%, 34%);
	--clr-zinc-700: hsl(240, 5%, 26%);
	--clr-zinc-800: hsl(240, 4%, 16%);
	--clr-zinc-900: hsl(240, 6%, 10%);
	--clr-zinc-950: hsl(240, 10%, 4%);
	--clr-blue: hsl(230, 100%, 65%);
	--clr-light-blue: hsl(207, 100%, 74%);
	--clr-red: hsl(0, 100%, 65%);
}

.container {
	margin-left: auto;
	margin-right: auto;
}
.section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section.box {
	background-color: var(--clr-red);
}
/* ELEMENT STYLING */

.grid,
.grid-2,
.grid-3,
.grid-4 {
	display: grid;
	gap: var(--gap);
}

.col.card {
	position: relative;
	width: 24rem;
	height: 36rem;
	background-color: var(--clr-zinc-50);
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	color: var(--clr-white);
	cursor: pointer;
	z-index: 1;
}

.col.card::after {
	content: "";
	position: absolute;
	top: 65%;
	left: 0;
	width: 100%;
	height: 35%;
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
	transition: top 0.2s ease-out, height 0.2s ease-out;
}

.col.card:hover::after {
	top: 30%;
	height: 70%;
}
.col.card .thumbnail {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.7;
	transition: opacity 0.2s ease-out;
}

.col.card:hover .thumbnail {
	transition: opacity 0.3s ease-in;
	opacity: 1;
}

.col.card .title {
	position: absolute;
	inset: auto auto 30px 30px;
	margin: 0;
	transition: inset 0.3s 0.3s ease-out;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 1;
}

.col.card .description,
.col.card .release {
	position: absolute;
	opacity: 0;
	max-width: 80%;
	transition: opacity 0.3s ease-out;
	z-index: 1;
}

.col.card .description {
	inset: auto auto 80px 30px;
}

.col.card .release {
	inset: auto auto 30px 30px;
	color: inherit;
	text-decoration: none;
}

.col.card:hover .title {
	inset: auto auto 50% 30px;
	transition: inset 0.3s ease-out;
}

.col.card:hover .description,
.col.card:hover .release {
	opacity: 1;
	transition: opacity 0.5s 0.1s ease-in;
}

.nav {
	background-color: var(--clr-blue);
	color: var(--clr-white);
	padding: 1rem;
}

.nav > .container {
	display: flex;
	justify-content: space-between;
}

.nav .title > a {
	color: var(--clr-white);
	text-decoration: none;
}

.nav .nav__list {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.nav .nav__list .nav__link {
	padding: 0.2rem 0.7rem;
	border-radius: 0.2rem;
	border: 2px solid var(--clr-blue);
}

.nav .nav__list .nav__link:hover {
	border: 2px solid var(--clr-red);
}

.nav .nav__list .nav__link > a {
	color: var(--clr-white);
	text-decoration: none;
}

.nav .nav__list .nav__link:hover > a {
	color: var(--clr-red);
}

.search {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.search__bar {
	width: 100%;
	border: 3px solid var(--clr-zinc-600);
	border-right: none;
	padding: 5px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: var(--clr-zinc-500);
}

.search__bar:focus {
	color: var(--clr-zinc-900);
}
.search__button {
	width: 2.5rem;
	height: 2rem;
	border: 1px solid var(--clr-zinc-600);
	background: var(--clr-zinc-600);
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.divide {
	display: grid;
	grid-template-columns: 12.5% 25% 50% 12.5%;
	gap: var(--gap);
}

.divide > img {
	grid-column: 2;
	width: 100%;
}

.divide .content .info h2 {
	grid-column: 3;
	margin-bottom: 1rem;
}

.divide .content .info p {
	margin: 0.5rem 0;
}

.divide.movie .content .info h2 {
	margin-bottom: 0;
}

.divide.movie .content .info .released {
	color: var(--clr-zinc-500);
	margin: 0;
	margin-bottom: 1rem;
}

.divide.movie .content .actors {
	background-color: var(--clr-zinc-200);
	padding: 1rem;
	border-radius: 0.5rem;
	margin-top: 2rem;
}

.divide.movie .content .actors a {
	color: var(--clr-zinc-900);
}

.form {
	background-color: var(--clr-zinc-200);
	padding: 1.5rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
}

.form h2 {
	margin-bottom: 1rem;
	margin-top: 0;
}

form .button {
	background-color: var(--clr-blue);
	border: none;
	color: var(--clr-white);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.form .input {
	color: var(--clr-zinc-900);
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.form .input label {
	width: 12.5rem;
	font-weight: bold;
}

.form .input input,
.form .input textarea {
	padding: 0.5rem;
	width: 100%;
	border: none;
	color: var(--clr-white);
	background-color: var(--clr-zinc-400);
}

.form .input textarea {
	resize: vertical;
}

.footer {
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--clr-zinc-900);
	color: var(--clr-white);
	height: 10rem;
}
