<section class="section">
	<div class="container">
		<div class="divide about">
			<img src="/images/me.jpg" alt="Niels Plug" />
			<div class="content">
				<h2>Over Mij</h2>
				<p>Hallo mijn naam is Niels Plug.</p>
				<p>
					Ik heb altijd al een passie gehad voor Development, vandaar dat ik de opleiding Informatica ben gaan
					volgen.
				</p>
				<p>
					Deze fascinatie voor development is ontstaan toen ik op jonge leeftijd voor het eerst in aanraking
					kwam met computers en begon te experimenteren met het schrijven van eenvoudige websites.
				</p>
				<p>
					Nu, met mijn informatica-opleiding, hoop ik mijn kennis en vaardigheden verder te ontwikkelen om
					mijn passie om te zetten in een succesvolle carrière in de wereld van softwareontwikkeling.
				</p>
			</div>
		</div>
	</div>
</section>
