<section class="section">
	<div class="container">
		<div class="grid-3">
			<div class="col">
				<form action="" class="form">
					<h2>Voeg Film toe</h2>
					<div class="input">
						<label for="name">Naam</label>
						<input placeholder="Naam" type="text" name="name" id="name" />
					</div>
					<div class="input">
						<label for="description">beschrijving</label>
						<textarea
							placeholder="beschrijving"
							name="description"
							id="description"
							cols="30"
							rows="5"
						></textarea>
					</div>
					<div class="input">
						<label for="release-date">Datum van uitgave</label>
						<input placeholder="Naam" type="date" name="release-date" id="release-date" />
					</div>
					<button class="button" type="submit">Voeg toe</button>
				</form>
			</div>
			<div class="col">
				<form action="" class="form">
					<h2>Voeg acteur toe</h2>
					<div class="input">
						<label for="name">Naam</label>
						<input type="text" name="name" id="name" />
					</div>
					<div class="input">
						<label for="description">biografie</label>
						<textarea name="description" id="description" cols="30" rows="5"></textarea>
					</div>
					<div class="input">
						<label for="birthdate">Geboortedatum</label>
						<input type="date" name="birthdate" id="birthdate" />
					</div>
					<button class="button" type="submit">Voeg toe</button>
				</form>
			</div>
			<div class="col">
				<form action="" class="form">
					<h2>Geef feedback</h2>
					<div class="input">
						<label for="name">Naam</label>
						<input type="text" name="name" id="name" />
					</div>
					<div class="input">
						<label for="description">beschrijving</label>
						<textarea name="description" id="description" cols="30" rows="5"></textarea>
					</div>
					<button class="button" type="submit">Verzend</button>
				</form>
			</div>
		</div>
	</div>
</section>
