<section class="py-12">
	<div
		class="flex justify-between mx-auto w-[90%] sm:w-[70%] md:w-[90%] lg:w-[90%] xl:w-[90%] 2xl:w-[90%] min-[1792px]:w-[90%] min-[2048px]:w-[70%]"
	>
		<div class="grid grid-cols-3 gap-12">
			<div class="col">
				<form action="" class="flex flex-col p-6 rounded-lg bg-zinc-200">
					<h2 class="mt-0 mb-4 text-2xl font-bold">Voeg Film toe</h2>
					<div class="flex justify-between mb-4 text-zinc-900">
						<label class="w-48 font-bold" for="name">Naam</label>
						<input
							class="w-full p-2 text-white border-0 bg-zinc-400 placeholder:text-zinc-200"
							placeholder="Naam"
							type="text"
							name="name"
							id="name"
						/>
					</div>
					<div class="flex justify-between mb-4 text-zinc-900">
						<label class="w-48 font-bold" for="description">beschrijving</label>
						<textarea
							class="w-full p-2 text-white border-0 bg-zinc-400 placeholder:text-zinc-200"
							placeholder="beschrijving"
							name="description"
							id="description"
							cols="30"
							rows="5"
						></textarea>
					</div>
					<div class="flex justify-between mb-4 text-zinc-900">
						<label class="w-48 font-bold" for="release-date">Datum van uitgave</label>
						<input
							class="w-full p-2 text-white border-0 bg-zinc-400 placeholder:text-zinc-200"
							placeholder="Naam"
							type="date"
							name="release-date"
							id="release-date"
						/>
					</div>
					<button class="px-4 py-2 text-white bg-blue-500 border-0 rounded-lg" type="submit">Voeg toe</button>
				</form>
			</div>
			<div class="col">
				<form action="" class="flex flex-col p-6 rounded-lg bg-zinc-200">
					<h2 class="mt-0 mb-4 text-2xl font-bold">Voeg acteur toe</h2>

					<div class="flex justify-between mb-4 text-zinc-900">
						<label class="w-48 font-bold" for="name">Naam</label>
						<input
							class="w-full p-2 text-white border-0 bg-zinc-400 placeholder:text-zinc-200"
							placeholder="Naam"
							type="text"
							name="name"
							id="name"
						/>
					</div>

					<div class="flex justify-between mb-4 text-zinc-900">
						<label class="w-48 font-bold" for="description">biografie</label>
						<textarea
							class="w-full p-2 text-white border-0 bg-zinc-400 placeholder:text-zinc-200"
							name="description"
							id="description"
							cols="30"
							rows="5"
						></textarea>
					</div>

					<div class="flex justify-between mb-4 text-zinc-900">
						<label class="w-48 font-bold" for="birthdate">Geboortedatum</label>
						<input
							class="w-full p-2 text-white border-0 bg-zinc-400 placeholder:text-zinc-200"
							type="date"
							name="birthdate"
							id="birthdate"
						/>
					</div>
					<button class="px-4 py-2 text-white bg-blue-500 border-0 rounded-lg" type="submit">Voeg toe</button>
				</form>
			</div>
			<div class="col">
				<form action="" class="flex flex-col p-6 rounded-lg bg-zinc-200">
					<h2 class="mt-0 mb-4 text-2xl font-bold">Geef feedback</h2>
					<div class="flex justify-between mb-4 text-zinc-900">
						<label class="w-48 font-bold" for="name">Naam</label>
						<input
							class="w-full p-2 text-white border-0 bg-zinc-400 placeholder:text-zinc-200"
							type="text"
							name="name"
							id="name"
						/>
					</div>
					<div class="flex justify-between mb-4 text-zinc-900">
						<label class="w-48 font-bold" for="description">beschrijving</label>
						<textarea
							class="w-full p-2 text-white border-0 bg-zinc-400 placeholder:text-zinc-200"
							name="description"
							id="description"
							cols="30"
							rows="5"
						></textarea>
					</div>
					<button class="px-4 py-2 text-white bg-blue-500 border-0 rounded-lg" type="submit">Verzend</button>
				</form>
			</div>
		</div>
	</div>
</section>
